body {
	font-family: "Open Sans";
	font-weight: 400;
}
main {
	padding: 6em;
}
.sub-top {
	display: flex;
	justify-content: space-between;
	margin-top: 75px;
}
.a {
	display: flex;
	flex-direction: row;
	align-content: center;
	border-radius: 25px;
	box-shadow: 0px 0px 10px 10px rgba(251, 251, 251, 1);
	margin-top: 3em;
	margin-bottom: 3em;
	padding: 4em;
}
.b {
	display: flex;
	flex-direction: row-reverse;
	align-content: center;
	border-radius: 25px;
	box-shadow: 0px 0px 10px 10px rgba(251, 251, 251, 1);
	margin-top: 3em;
	margin-bottom: 3em;
	padding: 5em;
}
.c {
	display: flex;
	flex-direction: row;
	align-content: center;
	border-radius: 25px;
	box-shadow: 0px 0px 10px 10px rgba(251, 251, 251, 1);
	margin-top: 3em;
	margin-bottom: 3em;
	padding: 5em;
}
.b-container {
	text-align: center;
	border-radius: 15px;
	box-shadow: 0px 0px 3px 3px rgba(251, 251, 251, 1);
	margin-top: 3em;
	padding: 3em;
	width: 50%;
	margin: auto;
	margin-bottom: -80px;
	background-image: url("resources/b.png");
	position: relative;
}
.bottom-container {
	display: flex;
	background-color: hsl(192, 100%, 9%);
	margin-top: -50px;
	overflow: hidden;
	padding: 7em;
	padding-top: 12em;
	justify-content: space-between;
}
.top-container {
	display: flex;
	background-image: url("resources/bg-hero-desktop.svg");
	flex-wrap: wrap;
	padding: 5em;
	padding-top: 3em;
	background-color: hsl(193, 100%, 96%);
}
.top-top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}
.sub-top .text {
	width: 40%;
}
.sub-top .mockups {
	display: flex;
	width: 60%;
	flex-direction: row-reverse;
}
.mockups img {
	max-width: 95%;
	height: auto;
}
.top-top img {
	max-width: 25%;
	height: auto;
}
.a .photo img {
	max-width: 75%;
	height: auto;
}
.b .photo img {
	max-width: 75%;
	height: auto;
}
.c .photo img {
	max-width: 75%;
	height: auto;
}
.text {
	width: 100%;
	padding: 3.5em;
	align-content: center;
}
.sub-top .text {
	padding-left: 0em;
}
.sub-top h1 {
	font-size: 40px;
}
.photo {
	display: flex;
	width: 100%;
	justify-content: flex-end;
	padding-left: 4em;
}
.b .photo {
	justify-content: center;
}
h1 {
	font-family: "Poppins";
	font-weight: 600;
}
p {
	font-family: "Open Sans";
	font-weight: 400;
	color: hsl(208, 11%, 55%);
	font-size: 18px;
}
.b-container button {
	font-family: "Open Sans";
	font-weight: 700;
	background-color: hsl(322, 100%, 66%);
	border-radius: 50px;
	padding: 1.5em;
	border-color: transparent;
	color: aliceblue;
	font-size: 18px;
	padding-left: 7em;
	padding-right: 7em;
}
.try button {
	font-family: "Open Sans";
	font-weight: 700;
	border-radius: 25px;
	border-color: transparent;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0px 0px 10px 5px rgba(226, 236, 238, 1);
	padding: 5em;
	padding-top: 1em;
	padding-bottom: 1em;
}
.sub-top button {
	font-family: "Open Sans";
	font-weight: 700;
	background-color: hsl(322, 100%, 66%);
	border-color: transparent;
	color: aliceblue;
	border-radius: 35px;
	padding: 6em;
	padding-top: 1.25em;
	padding-bottom: 1.25em;
	margin-top: 1.5em;
}
.try {
	display: flex;
	flex-direction: row-reverse;
	width: 100%;
}
.logo {
	width: 100%;
}
.p1,
.p2,
.p3 {
	color: hsl(193, 100%, 96%);
	display: flex;
	margin-top: 25px;
}
.p {
	margin-left: 1.5em;
}
.contact {
	width: 33.3%;
}
.info {
	display: flex;
	justify-content: space-between;
	width: 33.3%;
	padding: 3em;
}
.info-1,
.info-2 {
	padding: 2em;
	padding-top: 0em;
}
.info p {
	color: hsl(193, 100%, 96%);
}
.sub-top p {
	color: hsl(192, 100%, 9%);
}
#last {
	margin-top: 4em;
	display: flex;
	flex-wrap: wrap;
	width: 33.3%;
	padding-bottom: 0em;
}
.socials {
	display: flex;
	flex-wrap: nowrap;
}
.socials svg {
	width: 80%;
}
.soc {
	width: 10%;
	padding-left: 0.5em;
}
#last p {
	padding-bottom: 0px;
	display: flex;
	align-items: flex-end;
	font-size: 15px;
}
