@media screen and (max-width: 375px) {
	.top-container {
		background-image: url("bg-hero-mobile.svg");
	}
	.a {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.b {
		display: flex;
		flex-direction: row-reverse;
		flex-wrap: wrap;
	}
	.c {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
}

body {
	font-family: 'Open Sans';
	font-weight: 400;
}
main {
	padding: 5em;
}
.sub-top {
	display: flex;
}
.a {
	display: flex;
	flex-direction: row;
	align-content: center;
	border-radius: 25px;
	box-shadow: 0px 0px 10px 10px rgba(251, 251, 251, 1);
	margin-top: 3em;
	margin-bottom: 3em;
	padding: 3em;
}
.b {
	display: flex;
	flex-direction: row-reverse;
	align-content: center;
	border-radius: 25px;
	box-shadow: 0px 0px 10px 10px rgba(251, 251, 251, 1);
	margin-top: 3em;
	margin-bottom: 3em;
	padding: 3em;
}
.c {
	display: flex;
	flex-direction: row;
	align-content: center;
	border-radius: 25px;
	box-shadow: 0px 0px 10px 10px rgba(251, 251, 251, 1);
	margin-top: 3em;
	margin-bottom: 3em;
	padding: 3em;
}
.b-container {
	text-align: center;
}
.bottom-container {
	display: flex;
}
.top-container {
	display: flex;
	background-image: url("bg-hero-desktop.png");
	flex-wrap: wrap;
	padding: 3em;
	background-color: hsl(193, 100%, 96%);
}
.top-top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}
.sub-top .text {
	width: 40%;
}
.sub-top .mockups {
	width: 60%;
}
.mockups img {
	max-width: 85%;
	height: auto;
}
.mockups {
	padding-left: 3em;
}
.top-top img {
	max-width: 25%;
	height: auto;
}
.a .photo img {
	max-width: 75%;
	height: auto;
}
.b .photo img {
	max-width: 75%;
	height: auto;
}
.c .photo img {
	max-width: 75%;
	height: auto;
}
.text {
	width: 100%;
	padding: 3em;
	align-content: center;
}
.photo {
	display: flex;
	width: 100%;
	align-items: center;
	padding-left: 4em;
}
h1 {
	font-family: 'Poppins';
	font-weight: 600;
}
p {
	font-family: 'Open Sans';
	font-weight: 400;
}
.b-container button {
	font-family: 'Open Sans';
	font-weight: 700;
	background-color: hsl(322, 100%, 66%);
	border-radius: 25px;
	padding: 2em;
}
.try button {
	font-family: 'Open Sans';
	font-weight: 700;
	border-radius: 25px;
	padding: 2em;
}
.sub-top button {
	font-family: 'Open Sans';
	font-weight: 700;
	background-color: hsl(322, 100%, 66%);
	border-radius: 25px;
	padding: 2em;
}
.try {
	display: flex;
	flex-direction: row-reverse;
	width: 100%;
}
.logo {
	width: 100%;
}